# config/packages/framework.yaml
framework:
    session:
        handler_id: 'redis://{{ hostvars[groups['redis'][0]].ansible_all_ipv4_addresses| ipaddr('private') | first }}:6379'
    cache:
        default_redis_provider: 'redis://{{ hostvars[groups['redis'][0]].ansible_all_ipv4_addresses| ipaddr('private') | first }}:6379'
        pools:
            cache.object:
                default_lifetime: 3600
                adapter: cache.adapter.redis
                tags: cache.tags
            cache.tags:
                adapter: cache.adapter.redis
            cache.http:
                default_lifetime: 86400
                adapter: cache.adapter.redis
                tags: cache.http_tags
            cache.http_tags:
                adapter: cache.adapter.redis
