[Unit]
Description=Shopware Scheduled Tasks Worker
# Default queue backend is based on MySQL
After=mysql.service

[Service]
User=www-data
Restart=always
RestartSec=2
ExecStart=/usr/bin/php /var/www/shopware6/bin/console scheduled-task:run --time-limit=1800

[Install]
WantedBy=multi-user.target
